﻿@model IEnumerable<Cars.Models.Engine>

@{
    ViewBag.Title = "Engine Index";
}

<h2>Engine Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
        <td>
            <form action="delete" method="post">
                <input type="hidden" name="id" value="@item.Id" />
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
}

</table>
