﻿@model IEnumerable<Library_Razor.Models.Book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Showing deleted books</h1><hr />
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Deleted)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Genre.Name</td>
            </tr>
        }
    }
</table>
<br />
<a href="/home/index">Link to homepage</a>
