﻿@model List<Library_Razor.Models.Book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Showing all books</h1><hr />
<table border="1">
    <tr>
        <th>Id</th>
        <th style="min-width:100px">Name</th>
        <th>Price</th>
        <th>Genre</th>
    </tr>

    @foreach (var item in Model)
    {
        if (!item.Deleted)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Genre.Name</td>
                <td><a href="/book/delete?id=@item.Id">delete</a></td>
            </tr>
        }
    }
</table>
<br />
<a href="/knjizara">Link to homepage</a>&nbsp;
&verbar;&nbsp;<a href="/knjige/pretraga">Find a book</a>