img {
	float: right;
	width: 70%;
	border: 2px solid;
	border-color: #f03030;
	padding: 8px;
	margin: 10px;
}

body {
	color: #f03030;
	background-color: #e0e0e0;
	font-family: Georgia, serif;
	text-align: justify;
}