#painter {
	float: right;
	width: auto;
	border: 2px solid;
	border-color: #f03030;
	padding: 8px;
}

body {
	color: #f03030;
	background-color: #e0e0e0;
	font-family: Georgia, serif;
}

.important-text {
	font-weight: bold;
	font-size: 18;
}

/*img {
	border: 1px solid;
	border-color: #f03030;
	padding: 10px;
	width: 10%;
}*/

.painting-field {
	border: 2px solid;
	border-color: #f03030;
	width: 200px;
	padding: 3px;
	text-align: center;
}

.thumbnail {
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}

div {
	display:inline;
	float:left;
	margin: 2px;
}

.painting-title {
	font-weight: bold;
	font-style: italic;
}