img {
	width: 100%;
}

h1 {
	text-align: center;
	color: grey;
	font-family: Verdana;
	font-size: 450%;
	margin: 2px;
}

hr {
    border: none;
    height: 3px;
    color: grey;
    background-color: grey;
}
/*
#tekst {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column count: 3;
}*/

.footer {
	background-color: grey;
	color: #d7d4d4;
	text-align: center;
	margin-top: 20px;
}

.column {
    float: left;
    width: 31%;
    padding: 15px;
	text-align: justify;
}

/* Clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width:600px) {
    .column {
        width: 100%;
    }
}