.header {
	color: blue;
	font-size: 16px;
}

th {
	color: blue;
	font-size: 14px;
	background: #bfbfbf;
}

body {
	font-family: Tahoma;
	font-size: 10px;
}

table {
	font-size: 12px;
	background-color: grey;
}

table, th, td {
	border: 1px solid black;
}

tr:nth-child(even) {
	background: grey
}
tr:nth-child(odd) {
	background: #dededf
}

/*.tekst-polje {
	width: 130px;
	font-family: Arial;
}*/

td:nth-child(odd){
	width: 130px;
	font-family: Arial;
}

#center {
	text-align: center;
}