﻿
@{
    ViewBag.Title = "Find Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find a Book</h2>

<form method="post">
    <input type="text" name="name" required/>
    <input type="submit" value="Pretraga" />
</form>
