﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Library_Razor.Models;

<h1>Showing deleted books</h1><hr />
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Genre</th>
    </tr>

    @foreach (Book b in Bookstore.Books)
    {
        if (b.Deleted)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Name</td>
                <td>@b.Price</td>
                <td>@b.Genre</td>
            </tr>
        }
    }
</table>
<a href="/home/index">Link to homepage</a>
