﻿@{
    ViewBag.Title = "Home Page";
}
<div class="text-center">
    <img src="~/Content/car-logo.jpg" />
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Cars</h2>
        <p><a class="btn btn-default" href="/Car/Index">Show All &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Engines</h2>
        <p><a class="btn btn-default" href="/Engine/Index">Show All &raquo;</a></p>
    </div>
</div>