﻿@model IEnumerable<Library_Razor.Models.Genre>

@{
    ViewBag.Title = "Genre Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genre Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (!item.Deleted)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            <td>
                <form action="izbrisi" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
 }

</table>
