﻿@{
    ViewBag.Title = "Home Page";
}

<div><img class="logo" src="~/Content/bookstore-logo.jpg" /></div>

<hr />
<h1>Home page</h1><hr />
    <form method='post' action='/Book/Add'>
        <table border="1">
            <tr>
                <th colspan="2">Add new book</th>
            </tr>
            <tr>
                <td><b>Name of book:</b></td>
                <td><input type="text" name="Name" /></td>
            </tr>
            <tr>
                <td><b>Price of book:</b></td>
                <td><input type="text" name="Price" /></td>
            </tr>
            <tr>
                <td><b>Genre of book:</b></td>
                <td>
                    <select name="Genre">
                        <option value="Science">Science</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Horror">Horror</option>
                    </select>
                </td>
            </tr>
            <tr align="right">
                <td colspan="2">
                <input type='submit' value='Add' />
                </td>
            </tr>
        </table>
    </form>
    <a href="/bookstore/ShowBooks">Show All Books</a>&nbsp;
    &verbar;&nbsp;<a href="/bookstore/Delete">Show Deleted Books</a>
