﻿
@{
    ViewBag.Title = "Find Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find a Book</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Name:")
        @Html.TextBox("name")
    </div>

    <input type="submit" value="Pretraga" />
}
