﻿@model IEnumerable<Library_Razor.Models.Book>

@{
    ViewBag.Title = "Book Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Index</h2>

<p>
    @Html.ActionLink("Add New", "Napravi", "Knjige") &nbsp;&verbar;&nbsp;
    @Html.ActionLink("Find a Book", "Pretraga", "Knjige")&nbsp;
    &verbar;&nbsp;<a href="/knjizara/izbrisane">Show Deleted Books</a>&nbsp;&verbar;
</p>
<form action="~/knjige/sortiraj">
    <select name="id">
        <option value="1">Naziv, Rastuce</option>
        <option value="2">Naziv, Opadajuce</option>
        <option value="3">Cena, Rastuce</option>
        <option value="4">Cena, Opadajuce</option>
    </select>
    <input type="submit" value="Sort" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (!item.Deleted)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
            <td>
                <form action="./knjige/izbrisi" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }
}

</table>